#map {
    height: 100%;
    z-index: 1;
/*     mix-blend-mode: multiply; */
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
div.infobox {
    position: absolute;
    z-index: 3;
    background: #fff;
    height: 75vh;
    width: 100%;
    bottom: 0;
    background: rgba(250,250,250,0.9);
    display: none;
    left: -480px;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
    max-width: 600px;
    min-height: 520px!important;
}
@-webkit-keyframes slide {
    100% { left: 0; }
}
@keyframes slide {
    100% { left: 0; }
}
.content-container {
    overflow: scroll;
    height: 100%;
    height: calc(100% - 60px);
    padding: 30px 30px 0;
}
.info-img {
    width: 100%;
    overflow: hidden;
}
.info-img img {
    width: 100%;
}
.close-icon {
    position: absolute;
    top: 6px;
    right: 8px;
}
.close-icon i:hover {
    transform: rotate(90deg);
}
.close-icon i {
    font-size: 18px;
    transition: 0.2s ease;
}
.close-icon a {
    color: #333;
}
.invisible-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
#overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2800px;
  height: 2800px; 
  background: rgba(0,0,0,0.8);
}
#legendimg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}
div#logo {
    position: absolute;
    z-index: 9;
    max-width: 560px;
    width: 60vw;
    min-width: 280px;
}
div#logo img {
    width: 100%;
}
h1 {
    font-family: sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
}
p {
    font-size: 15px;
    line-height: 22px;
}
.infobox {
    background-image: url("../img/water-mark-for-blade.png")!important;
    background-repeat: no-repeat!important;
    background-position: bottom 20px right 20px!important;
    background-size: 62%!important;
}
div#map:after {
    content: " ";
    background: rgba(0,0,0,0.8);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
div#map #marker {
    background: pink!important;
    z-index: 999999!important;
}